@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>
<html class="ie9" lang="en">    <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="en">    <![endif]-->

<body id="samuel">

<!--Pre-Loader-->
<div id="preloader"></div>

<header>
   <section id="top-navigation" class="container-fluid nopadding">
      <div class="row nopadding ident ui-bg-color01">
         <!-- Photo -->
         <a href="index.cshtml">
            <div class="col-md-4 vc-photo"><img src="~/images/photocat.jpg" class="img-responsive" /></div>
         </a>
         <!-- /Photo -->
         <div class="col-md-8 vc-name nopadding">
            <!-- Name-Position -->
            <div class="row nopadding name">
               <div class="col-md-10 name-title"><h1 class="font-accident-two-extralight">Adeeb ul Hassan </h1></div>
               <div class="col-md-2 nopadding name-pdf">
                  <a href="#" class="hvr-sweep-to-right"><i class="flaticon-download149" title="Download CV.pdf"></i></a>
               </div>
            </div>
            <div class="row nopadding position">
               <div class="col-md-10 position-title">

                  <section class="cd-intro">
                     <h2 class="cd-headline clip is-full-width font-accident-two-light">
                        <span>The experienced </span>
                        <span class="cd-words-wrapper">
                           <b class="is-visible">ASP.Net Core Developer</b>
                           <b>Bootsrap Designer</b>
                        </span>
                     </h2>
                  </section>

               </div>
               <div class="col-md-2 nopadding pdf">
                  <a href="#" class="hvr-sweep-to-right"><i class="flaticon-behance7" title="My Behance Portfolio"></i></a>
               </div>
            </div>
            <!-- /Name-Position -->

            <!-- Main Navigation -->

            <ul id="nav" class="row nopadding cd-side-navigation">
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color01" data-animation-duration="1000" data-animation-delay="100">
                  <a href="index.cshtml" class="hvr-sweep-to-bottom"><i class="flaticon-insignia"></i><span>home</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color02" data-animation-duration="1000" data-animation-delay="300">
                  <a href="resume.cshtml" class="hvr-sweep-to-bottom"><i class="flaticon-graduation61"></i><span>resume</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color03" data-animation-duration="1000" data-animation-delay="500">
                  <a href="portfolio-4-col.cshtml" class="hvr-sweep-to-bottom"><i class="flaticon-book-bag2"></i><span>portfolio</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color04" data-animation-duration="1000" data-animation-delay="700">
                  <a href="contacts.cshtml" class="hvr-sweep-to-bottom"><i class="flaticon-placeholders4"></i><span>contacts</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color05" data-animation-duration="1000" data-animation-delay="900">
                  <a href="feedback.cshtml" class="hvr-sweep-to-bottom"><i class="flaticon-earphones18"></i><span>feedback</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color06" data-animation-duration="1000" data-animation-delay="1100">
                  <a href="blog-3-col.cshtml" class="hvr-sweep-to-bottom"><i class="flaticon-pens15"></i><span>blog</span></a>
               </li>
            </ul>

            <!-- /Main Navigation -->

         </div>
      </div>
   </section>
</header>

<!-- Container -->
<div class="content-wrap">

   <section class="container-fluid" data-section="home">

      <!-- Personal Flexy Section -->
      <div class="row flex-row">
         <!-- Personal Details 01 -->
         <div id="details" class="col-md-8 flex-column bg-color01 light nopadding"
              data-animation-origin="left"
              data-animation-duration="300"
              data-animation-delay="400"
              data-animation-distance="200px">
            <div class="padding-50 flex-panel">
               <div class="row row-no-padding">
                  <div class="col-md-12 nopadding">
                     <h3 class="font-accident-two-normal uppercase title">Educational Background</h3>
                     <div class="quote">
                        <div class="dividewhite3"></div>
                     </div>
                  </div>
               </div>
               <div class="divider-dynamic"></div>
               <div class="row nopadding">
                  <div class="col-md-4 infoblock nopadding">
                     <div class="row">
                        <div class="col-xs-12 col-sm-1 col-md-3"><i class="flaticon-clocks18 color-blue"></i><div class="dividewhite1"></div></div>
                        <div class="col-xs-12 col-sm-11 col-md-9">
                           <h4 class="font-accident-two-medium uppercase">SSC</h4>
                           <p class="">
Passed with 74% marks from Gujarawala Board <br/> 2008 - 2010
                           </p>
                        </div>
                     </div>
                     <div class="divider-dynamic"></div>
                  </div>
                  <div class="col-md-4 infoblock nopadding">
                     <div class="row">
                        <div class="col-xs-12 col-sm-1 col-md-3"><i class="flaticon-pie-graph color-blue"></i><div class="dividewhite1"></div></div>
                        <div class="col-xs-12 col-sm-11 col-md-9">
                           <h4 class="font-accident-two-medium uppercase">Intermediate</h4>
                           <p class="">
                               Passed with 59.9% marks from Gujarawala Board <br /> 2010 - 2012
                           </p>
                        </div>
                     </div>
                     <div class="divider-dynamic"></div>
                  </div>
                  <div class="col-md-4 infoblock nopadding">
                     <div class="row">
                        <div class="col-xs-12 col-sm-1 col-md-3"><i class="flaticon-tool-1 color-blue"></i><div class="dividewhite1"></div></div>
                        <div class="col-xs-12 col-sm-11 col-md-9">
                           <h4 class="font-accident-two-medium uppercase">Graduation</h4>
                           <p class="">
                               Passed with 3.49 CGPA from University of Gujrat  <br /> 2013 - 2017
                           </p>
                        </div>
                     </div>
                     <div class="divider-dynamic"></div>
                  </div>

               </div>
            </div>
         </div>
         <!-- /Personal Details 01 -->

         <!-- Personal Details 02 -->
         <div id="personal" class="col-md-4 flex-column light ui-block-color01 personal"
              data-animation-origin="right"
              data-animation-duration="500"
              data-animation-delay="600"
              data-animation-distance="100px">
            <div class="padding-50 flex-panel">
               <h3 class="font-accident-two-normal uppercase title">Personal Info</h3>
               <div class="dividewhite4"></div>
               <div>
                  <div class="fullwidth box">
                     <div class="one"><p class="uppercase">Name:</p></div>
                     <div class="two"><p class="">Adeeb ul Hassan</p></div>
                  </div>
                  <div class="fullwidth box">
                     <div class="one"><p class="uppercase text-nowrap">Birth Date:</p></div>
                     <div class="two"><p class="">07/09/1994</p></div>
                  </div>
                  <div class="fullwidth box">
                     <div class="one"><p class="uppercase">Address:</p></div>
                     <div class="two"><p class="">Airport Road Gohad pur, Murad pur</p></div>
                  </div>
                  <div class="fullwidth box">
                     <div class="one"><p class="uppercase">Phone:</p></div>
                     <div class="two"><p class="">+92 304 3861973</p></div>
                  </div>
                  <div class="fullwidth box">
                     <div class="one"><p class="uppercase">Email:</p></div>
                     <div class="two"><p class="">adeeeb.ul.hassan@gmail.com</p></div>

                  </div>
               </div>
               <div class="dividewhite1"></div>
            </div>
         </div>
         <!-- /Personal Details 02 -->
      </div>
      <!-- /Personal Flexy Section -->

   </section>

   <section id="professional" class="container-fluid" data-section="home">

      <div class="row flex-row">

         <div id="pro-experience" class="col-md-4 flex-column dark nopadding ui-block-color02 flex-col"
              data-animation-origin="bottom"
              data-animation-duration="300"
              data-animation-delay="800"
              data-animation-distance="200px">
            <div class="padding-50 flex-panel">
               <h3 class="font-accident-two-normal uppercase title">Employment</h3>
               <div class="dividewhite4"></div>
               <div class="experience">
                  <ul class="">
                     <li class="date">07/2016 - 01/2017</li>
                     <li class="company uppercase">
                        <a>
                           Webezy Web Designs.
                        </a>
                     </li>
                     <li class="position">Bootstrap Designer</li>
                  </ul>
                  <ul class="">
                     <li class="date">02/2017 - present</li>
                     <li class="company uppercase">
                        <a>
                           TechnoGears.
                        </a>
                     </li>
                     <li class="position">ASP.Net Core Developer</li>
                  </ul>
                  <ul class="">
                     <li class="date">05/2017 - present</li>
                     <li class="company uppercase">
                        <a>
                           TechnoGears.
                        </a>
                     </li>
                     <li class="position">ASP.Net Core Trainer</li>
                  </ul>
               </div>
               <a href="resume.cshtml" class="btn btn-wh-trans btn-xs">Learn More</a>
               <div class="dividewhite1"></div>
            </div>
         </div>
         <div id="circle-skills" class="col-md-8 flex-column dark nopadding ui-block-color03 flex-col" data-section="progress"
              data-animation-origin="right"
              data-animation-duration="400"
              data-animation-delay="1100"
              data-animation-distance="200px">
            <div class="padding-50 flex-panel">
               <h3 class="font-accident-two-normal uppercase title">Professional skills</h3>
               <div class="dividewhite1"></div>
               <div class="row">

                  <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                     <div class="progressbar text-center">
                        <h4 class="font-accident-two-bold uppercase">ASP.Net Core</h4>
                        <p class="font-regular-normal">
                           Latest Framework of Microsoft for Web development.
                        </p>
                        <a href="resume.cshtml" class="btn btn-wh-trans btn-xs">Learn More</a>
                     </div>
                     <div class="dividewhite1"></div>
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                     <div class="progressbar text-center">
                        <h4 class="font-accident-two-bold uppercase">Entity Framework</h4>
                        <p class="font-regular-normal">
                            An open source object-relational mapping framework.
                        </p>
                        <a href="resume.cshtml" class="btn btn-wh-trans btn-xs">Learn More</a>
                     </div>
                     <div class="dividewhite1"></div>
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                     <div class="progressbar text-center">
                        <h4 class="font-accident-two-bold uppercase">MS Sql</h4>
                        <p class="font-regular-normal">
                            A relational DBMS developed by Microsoft.
                        </p>
                        <a href="resume.cshtml" class="btn btn-wh-trans btn-xs">Learn More</a>
                     </div>
                     <div class="dividewhite1"></div>
                  </div>

                   <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                       <div class="progressbar text-center">
                           <h4 class="font-accident-two-bold uppercase">My SQL</h4>
                           <p class="font-regular-normal">
                              An open-source relational database management system.Normally used with PHP.                           </p>
                           <a href="resume.cshtml" class="btn btn-wh-trans btn-xs">Learn More</a>
                       </div>
                       <div class="dividewhite1"></div>
                   </div>


                   <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                       <div class="progressbar text-center">
                           <h4 class="font-accident-two-bold uppercase">GIT HUB</h4>
                           <p class="font-regular-normal">
                               Web-based Git version control repository hosting service. Mostly used for computer code.
                           </p>
                           <a href="resume.cshtml" class="btn btn-wh-trans btn-xs">Learn More</a>
                       </div>
                       <div class="dividewhite1"></div>
                   </div>

                   <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                       <div class="progressbar text-center">
                           <h4 class="font-accident-two-bold uppercase">LINQ</h4>
                           <p class="font-regular-normal">
                               Language Integrated Query that adds native data querying capabilities to .NET languages.                           </p>
                           <a href="resume.cshtml" class="btn btn-wh-trans btn-xs">Learn More</a>
                       </div>
                       <div class="dividewhite1"></div>
                   </div>

               </div>
            </div>
         </div>

      </div>

   </section>

</div>

<footer class="padding-50 dark ui-bg-color01"
        data-animation-origin="top"
        data-animation-duration="500"
        data-animation-delay="800"
        data-animation-distance="50px">
   <div class="container-fluid nopadding">
      <div class="row">
         <div class="col-sm-3">
            <h5 class="font-accident-two-bold uppercase">Important Note</h5>
            <p class="inline-block">
If you want to contact me you can email me, In case of urgencey you can also call me on my given number.
            </p>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-sm-3 cv-link">
            <h5 class="font-accident-two-bold uppercase">Download cv</h5>
            <div class="dividewhite1"></div>
            <a href="#!"><i class="fa fa-long-arrow-down" aria-hidden="true"></i>English</a>
            <a href="#!"><i class="fa fa-long-arrow-down" aria-hidden="true"></i>German</a>
            <a href="#!"><i class="fa fa-long-arrow-down" aria-hidden="true"></i>Spanish</a>
            <p class="inline-block">
               The CV is in .pdf format. Use the Adobe Reader to open it.
            </p>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-sm-3">
            <h5 class="font-accident-two-bold uppercase">Newsletter</h5>
            <div class="dividewhite1"></div>
            <input class="newsletter-email" type="email" required="" name="ne" placeholder="Your Email">
            <a href="#!" class="btn btn-wh-trans btn-xs">OK</a>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-sm-3">
            <h5 class="font-accident-two-bold uppercase">Follow me</h5>
            <div class="follow">
               <ul class="list-inline social">
                  <li><a target="_blank" href="#" class="rst-icon-facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a target="_blank" href="#" class="rst-icon-twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a target="_blank" href="#" class="rst-icon-pinterest"><i class="fa fa-pinterest"></i></a></li>
                  <li><a target="_blank" href="#" class="rst-icon-instagram"><i class="fa fa-instagram"></i></a></li>
                  <li><a target="_blank" href="#" class="rst-icon-youtube"><i class="fa fa-youtube"></i></a></li>
               </ul>
            </div>
            <div class="divider-dynamic"></div>
         </div>
      </div>
      <div class="dividewhite1"></div>
      <div class="row">
         <div class="col-md-12 copyrights">
            <p>© 2017 Adeeb ul Hassan.</p>
         </div>
      </div>
   </div>
</footer>

<!-- Back to Top -->
<div id="back-top"></div>
<!-- /Back to Top -->

<!-- JS -->

</body>
</html>
@section scripts{ 

    <script>
        $("#preloader").fadeOut(10000);
    </script>
}